
/* header 시작 */
header{
    position: sticky;
    top: 0;
    min-width: 200px;
    width: 10%;
    min-height: 600px;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-left: 1px solid #ddd; */
    color: white;
    z-index: 2;
}

header > a{
    margin-top: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 120px;
    font-size: 14px;
}

a > i{
    padding-top: 2px;
}

#main-logo{
    width: 100%;
    height: auto;
}